body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #55f;
}

.content {
  width: 320px;
  margin: 13% auto;
}

input {
  padding: 10px;
  margin: 10px 5px;
}

.submit {
  margin: 5px 25%;
}
